@font-face {
  font-family: "Arial";
  src: url(../fonts/arial.ttf);
}

body {
  background-color: #ffffff;
  font-family: "Arial", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1.25rem;
}

.add-task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#new-task {
  flex: 1;
  padding: 0.3rem;
  font-size: 0.8rem;

  border: 0.06rem solid #cccccc;
  border-radius: 0.3rem;
}
